<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="7738224B.Wheelmap.org" Publisher="CN=61C6093D-ABBB-41FC-97B6-7C91F8261E47" Version="1.1.32.0" />
  <mp:PhoneIdentity PhoneProductId="fe5e25d5-2923-44af-b139-e8466b0ac33f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Wheelmap.org</DisplayName>
    <PublisherDisplayName>SOZIALHELDEN e.V.</PublisherDisplayName>
    <Logo>Assets\App\store\square.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Wheelmap.App">
      <uap:VisualElements DisplayName="Wheelmap.org" Square150x150Logo="Assets\App\square_150x150\square.png" Square44x44Logo="Assets\App\square_44x44\square.png" Description="Wheelmap" BackgroundColor="#2c3b49">
        <uap:DefaultTile Wide310x150Logo="Assets\App\wide_310x150\wide.png" Square71x71Logo="Assets\App\square_71x71\square.png" Square310x310Logo="Assets\App\square_310x310\square.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\App\splashscreen_1240x600\wide.png" BackgroundColor="#2c3b49" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.personalAssistantLaunch">
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="Wheelmap.VoiceCommandService.WheelmapVoiceCommandService">
          <uap:AppService Name="WheelmapVoiceCommandService" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>